<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
    <title>Add Brand</title>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container">
    <div class="row my-1">
        <h3 class="fs-1 mb-1 w-75">Admin Panel</h3>
        <div class="button w-25">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModelModal">Add Model</button>
            <div class="modal fade" id="addModelModal" tabindex="-1" role="dialog" aria-labelledby="addModelModalTitle"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addModalModalTitle">
                                Model
                            </h5>
                            <button type="button" class="close btn btn-light" data-bs-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form id="registrationForm"
                              th:action="@{/admin/models}"
                              th:method="POST"
                              th:object="${addModelDTO}">
                            <div class="modal-body">
                                <select id="brandName"
                                        th:name="brandName"
                                        th:errorclass="is-invalid"
                                        class="form-select">
                                    <option value="">- Select a Brand -</option>
                                    <optgroup label="Brand:">
                                        <option
                                                th:each="brand : ${brands}"
                                                th:text="${brand.getName()}"
                                                th:value="${brand.getName()}"
                                                th:selected="*{brandName} == ${brand.getName()}">
                                            Brand
                                        </option>
                                    </optgroup>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">
                                    Add
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-2">
                <div class="bg-white" id="sidebar-wrapper">
                    <div class="list-group list-group-flush mb-3">
                        <a href="/admin/brands"
                           class="list-group-item list-group-item-action second-text fw-bold text-center">Brands</a>
                        <a href="/admin/models"
                           class="list-group-item list-group-item-action second-text fw-bold text-center active">Models</a>
                        <a href="/admin/products"
                           class="list-group-item list-group-item-action second-text fw-bold text-center">Products</a>
                        <a href="/admin/orders"
                           class="list-group-item list-group-item-action second-text fw-bold text-center">Orders</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-10 table-responsive custom-table-container">
                <table class="table bg-white rounded shadow-sm table-hover">
                    <thead class="sticky-header">
                    <tr>
                        <th scope="col" width="50">#</th>
                        <th scope="col" class="text-center">Name</th>
                        <th scope="col" class="text-center">Products Count</th>
                        <th scope="col" class="text-center" >Total Quantity</th>
                        <th scope="col" class="text-center" width="240">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="model: ${modelView}"
                        th:object="${model}" style="height: 48px;">
                        <th th:text="*{id()}" scope="row">1</th>
                        <td th:text="*{name()}" class="text-center align-middle">A54</td>
                        <td th:text="*{countProducts()}" class="text-center align-middle">5</td>
                        <td th:text="*{totalQuantity()}" class="text-center align-middle">200</td>
                        <td class="text-center align-middle">
                            <div class="container align-middle">
                                <form th:method="update"
                                      th:action="@{/admin/models/{modelId}(modelId=*{id})}" style="display:inline" >
                                    <button type="submit" class="btn btn-warning btn-sm "><i class="fas fa-edit"></i> Edit</button>
                                </form>
                                <form th:method="delete"
                                      th:action="@{/admin/models/{modelId}(modelId=*{id})}" style="display:inline">
                                    <button type="submit"  class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
></script>
</body>
</html>
