<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
    <title>Add Brand</title>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container">
    <div class="row my-1">
        <h3 class="fs-1 mb-1 w-75">Admin Panel</h3>
        <div class="button w-25">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addBrandModal">
                Add Product
            </button>
            <div class="modal fade" id="addBrandModal" tabindex="-1" role="dialog" aria-labelledby="addBrandModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="addBrandModalTitle">
                                Brand
                            </h5>
                            <button type="button" class="close btn btn-light" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form id="registrationForm"
                              th:action="@{/admin/products}"
                              th:method="POST"
                              th:object="${addProductDTO}">
                        <div class="modal-body">
                            <select id="modelName"
                                    th:name="modelName"
                                    th:errorclass="is-invalid"
                                    class="form-select">
                                <option value="">- Select a Model -</option>
                                <optgroup label="Model:">
                                    <option
                                            th:each="model : ${models}"
                                            th:text="${model.getName()}"
                                            th:value="${model.getName()}"
                                            th:selected="*{modelName} == ${model.name}">
                                        Model
                                    </option>
                                </optgroup>
                            </select>
                            <div class="mb-3 mt-3 form-floating has-validation">
                                <input type="text" name="name" class="form-control" id="name"
                                       aria-describedby="nameError" required
                                       placeholder="A54">
                                <label for="name">
                                    Name:
                                </label>
                            </div>
                            <div class="mb-3 mt-3 form-floating has-validation">
                                <input type="text" name="description" class="form-control" id="description"
                                       aria-describedby="nameError" required
                                       placeholder="A54">
                                <label for="description">
                                    Description:
                                </label>
                            </div>
                            <div class="mb-3 mt-3 form-floating has-validation">
                                <input type="text" name="color" class="form-control" id="color"
                                       aria-describedby="nameError" required
                                       placeholder="A54">
                                <label for="color">
                                    Color:
                                </label>
                            </div>
                            <div class="mb-3 mt-3 form-floating has-validation">
                                <input type="number" min="1" step="any" name="price" class="form-control" id="price"
                                       aria-describedby="nameError" required
                                       placeholder="A54">
                                <label for="price">
                                    Price:
                                </label>
                            </div>
                            <div class="mb-3 mt-3 form-floating has-validation">
                                <input type="number" min="1" step="any" name="discount" class="form-control" id="discount"
                                       aria-describedby="nameError" required
                                       placeholder="A54">
                                <label for="discount">
                                    Discount Price:
                                </label>
                            </div>

                            <div class="mb-3 mt-3 form-floating has-validation">
                                <input type="datetime-local" name="discountStartDate" class="form-control" id="discountStartDate"
                                       aria-describedby="nameError" required
                                       placeholder="A54">
                                <label for="discountStartDate">
                                    DiscountStartDate:
                                </label>
                            </div>
                            <div class="mb-3 mt-3 form-floating has-validation">
                                <input type="datetime-local" name="discountEndDate" class="form-control" id="discountEndDate"
                                       aria-describedby="nameError" required
                                       placeholder="A54">
                                <label for="discountEndDate">
                                    DiscountEndDate:
                                </label>
                            </div>
                            <div class="mb-3 mt-3 form-floating has-validation">
                                <input type="number" name="quantity" class="form-control" id="quantity"
                                       aria-describedby="nameError" required
                                       placeholder="A54">
                                <label for="quantity">
                                    Quantity:
                                </label>
                            </div>
                            <div class="mb-3 mt-3 form-floating has-validation">
                                <input type="url" name="imageUrl" class="form-control" id="imageUrl"
                                       aria-describedby="nameError" required
                                       placeholder="A54">
                                <label for="imageUrl">
                                    Image URL:
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">
                                Add
                            </button>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-lg-2">
                <div class="bg-white" id="sidebar-wrapper">
                    <div class="list-group list-group-flush mb-3">
                        <a href="/admin/brands" class="list-group-item list-group-item-action second-text fw-bold text-center">Brands</a>
                        <a href="/admin/models" class="list-group-item list-group-item-action second-text fw-bold text-center">Models</a>
                        <a href="/admin/products" class="list-group-item list-group-item-action second-text fw-bold text-center active">Products</a>
                        <a href="/admin/orders" class="list-group-item list-group-item-action second-text fw-bold text-center">Orders</a>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-lg-10 table-responsive custom-table-container">
                <table class="table bg-white rounded shadow-sm table-hover">
                    <thead class="sticky-header">
                    <tr>
                        <th scope="col" width="50">#</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Model</th>
                        <th scope="col">Product</th>
                        <th scope="col">Product SN</th>
                        <th scope="col" class="text-center">Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="product: ${products}"
                         th:object="${product}">
                        <th scope="row">1</th>
                        <td th:text="*{brand()}">Samsung</td>
                        <td th:text="*{model()}">A54</td>
                        <td th:text="*{name()}">Black Case</td>
                        <td th:text="*{productSN()}">12312351</td>
                        <td th:text="*{quantity()}" class="text-center">4</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
></script>
</body>
</html>
