<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
    <title>Cart</title>
</head>
<body>

<div th:replace="~{fragments/navbar}"></div>

<div class="container mt-5">
    <div class="row"
         th:object="${cartInfo}">
        <!-- Items List Column -->
        <div class="col-md-8">
            <h2>Your Cart</h2>
            <!-- Cart items on the cart page -->
            <div th:each="cartItem: ${cartInfo.cartItems()}" class="item-container">
                <div class="row align-items-center">
                    <div class="col-md-2 d-flex justify-content-center">
                        <img th:src="${cartItem.getImageUrl()}" th:width="80px" th:height="80px" class="item-image">
                    </div>
                    <div class="col-md-6">
                        <h5 th:text="${cartItem.getName()}" class="text-center">Item 1</h5>
                        <p th:text="'Price: $' + ${cartItem.getPrice()}" class="text-center">Price: $25.00</p>
                    </div>
                    <div class="col-md-4">
                        <div class="quantity-arrows">
                            <form th:method="delete"
                                  th:action="@{/cart/remove/{productNumber}(productNumber=${cartItem.getProductId()})}" style="display:inline" >
                                <button type="submit" class="btn btn-danger btn-sm "><i class="fas fa-minus"></i></button>
                            </form>
                            <span th:text="${cartItem.getQuantity()}" class="badge rounded-pill text-bg-primary">1</span>
                            <form th:method="post"
                                  th:action="@{/cart/add/{productNumber}(productNumber=${cartItem.getProductId()})}" style="display:inline" >
                                <button type="submit" class="btn btn-success btn-sm "><i class="fas fa-plus"></i></button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="card" style="border-radius: 10px">
                <div class="card-body">
                    <h5 class="card-title text-center">Cart Summary</h5>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Subtotal
                            <span th:text="'$' + ${cartInfo.totalCartPrice()}" class="badge rounded-pill text-bg-primary">$85.00</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Tax
                            <span class="badge rounded-pill text-bg-primary">$5.50</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            Total
                            <span th:text="'$' + ${cartInfo.totalCartPrice() + 5.50}" class="badge rounded-pill text-bg-primary">$93.50</span>
                        </li>
                    </ul>
                    <button type="submit" class="btn btn-success btn-block mt-3">
                        <a class="link" href="/order">Continue</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>